/* útfæra */
body {
  margin: 0;
}

main {
  width: min(95vw, 600px);
  margin-left: calc(50vw - min(300px, 47.5vw));
  margin-top: 100px;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: min(95vw, 600px);
  left: calc(50vw - min(300px, 47.5vw));
  z-index: 10;
  background-color: white;

  div {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 60%;
  }


}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}


input {
  max-width: 30%;
}

input,
select,
label {
  font-size: 15px;
  padding: 5px 10px;
}

input,
select {
  border: solid 1px black;
  background-color: white;
  border-radius: 8px;
  outline: none;
}

input:hover,
select:hover {
  border: solid 1px black;
  outline: none;
}

input:active,
select:active {
  outline: none;
}




.questions {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 30px 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  border: none;
  background: none;
  padding: 0;

  h4 {
    margin: 0;
    margin-left: auto;
  }

  h3,
  p {
    margin: 0 auto;
  }

}

.card-front,
.card-back {
  width: calc(100% - 42px);

  height: 170px;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}

.card-back {
  transform: rotateX(180deg);
  justify-content: space-around;
}

.card.flipped .card-front {
  transform: rotateX(180deg);
}

.card.flipped .card-back {
  transform: rotateX(360deg);
}

.card-container.hidden {
  display: none;
}

.buttons {
  position: relative;
  display: flex;
  margin-left: auto;
  justify-content: space-around;
  gap: 10px;

  button {
    border: solid 1px black;
    background-color: white;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 10px;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  button:active {
    background-color: rgba(0, 0, 0, 0.08);
  }

  button:disabled {
    background-color: white;
  }
}
