/* útfæra */
main {
  width: min(90vw, 600px);
  margin-left: calc(50vw - min(300px,45vw));
  margin-top: 50px;
}

.back {
  color: black;
  text-decoration: none;
  position: fixed;
  top: 20px;
  background-color: white;
  z-index: 10;
}

.back:hover {
  color: black;
}

.back::before {
  content: "←";
}


.questions {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 40px 0;
  perspective: 1000px;
  transform-style: preserve-3d;

  h4 {
    margin: 0;
    margin-left: auto;
  }

  h3,
  p {
    margin: 0 auto;
  }

}

.card-front,
.card-back {
  
  width: calc(100% - 42px);

  height: 100%;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}

.card-back {
  transform: rotateX(180deg);
  justify-content: space-around;
}



.card:hover .card-front {
  transform: rotateX(180deg);
}

.card:hover .card-back {
  transform: rotateX(360deg);
}
